<h1>
  {{inline-edit-model model=model attr='title'}}
</h1>

<h5> Description</h5>
<blockquote>
  {{inline-edit-model model=model attr='description' field='textarea'}}
</blockquote>
<h5>Docker Compose File</h5>
{{docker-compose-search dockerFile=model.dockerFile}}
{{outlet}}
