<div class="ember-pipeline-builder-engine">
{{loading-slider duration=250}}

<div class="navbar">
  {{#md-navbar name='Workflow Builder' homeRoute='index'}}
    {{#link-to 'index' tagName='li'}}
      Workflows
    {{/link-to}}
  {{/md-navbar}}
</div>

<div class="container">
<div class="row">
  <div class="col s12">
    {{outlet}}
  </div>
</div>
</div>
{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
</div>
